<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>TP Regex – Démo Web</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>TP – Expressions régulières en Python</h1>

    <p>
      Cette application web sert de support au TP sur les expressions régulières :
    </p>

    <ul>
      <li><a href="/validation">Validation de données</a></li>
      <li><a href="/extraction">Extraction d'informations</a></li>
      <li><a href="/transformation">Transformation & nettoyage de texte</a></li>
    </ul>
  </body>
</html>
